@font-face {
  font-family: Kinkee;
  src: url(../font/kinkee__-webfont.woff);
  src: url(../font/kinkee__-webfont.woff2);
}

body {
  font-family: "Raleway", sans-serif;
}

/* Navbar */
.navbar{
  background-color: rgb(0, 192, 192);
  font-weight: bolder;
}

h1 {
  font-family: Kinkee;
  color: rgb(0, 192, 192);
  -webkit-text-stroke: 0.4px white;
}

h2 {
  font-family: 'DynaPuff', cursive;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

#Hero-Section p{
  color: rgb(0, 116, 116);
}

.btn-light, .btn-light:active, .btn-light:visited {
  background-color: rgb(0, 192, 192);
}

.btn-light, .btn-light:active, .btn-light:visited a{
  color: white;
}

.btn-light:hover a{
  color:rgb(0, 192, 192) !important;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

/* Footer */
footer i{
  color:rgb(0, 192, 192) !important;
}